body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}



/* CHAMADO.HTML */
h2 {
    text-align: center;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

/*Email */
.email label {
    font-weight: bold;
    margin-bottom: 15px;
}
.email input, .email textarea {
    width: 37%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}


.email textarea:focus,
  .email select:focus {
    border-color: #007BFF;
    outline: none;
  }

/*Nome */
.nome label{
    font-weight: bold;
}

.nome {
    margin-bottom: 15px;
}

.nome input, .nome textarea {
    width: 37%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
}

.equipamento{
        font-weight: bold;
        margin-bottom: 15px;
    }


/*Select*/
select {
    width: 20%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
  }

select{  
    margin-bottom:15px ;
}
select label{
    margin-bottom:15px ;
}

/*Botão*/
.button-enviar{
    display: flex;
    justify-content: flex-end;
}

#enviar {
    background: linear-gradient(135deg, #1a8941, #1f7a2d);
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }


/*Botão Voltar*/
#voltar {
    background: linear-gradient(135deg, #1a8941, #1f7a2d);
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: right;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  /* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do header */
header {
    display: block;  
    align-items: center;
    background-color: #9a9a9a;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}



/* Estilização do logo */
header .logo img {
    align-items: center;
    height: 60px;
}

header h1{
    margin-bottom: 5px;
}

/* Estilização do menu de navegação */
header nav {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 1px;
    
}

/* Estilização do botão de login */
header .cta {
    text-decoration: none;
    color: white;
    background-color: #f4a261;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#bchamado {
    background: linear-gradient(135deg, #1a8941, #1f7a2d);
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

#binfo {
    background: linear-gradient(135deg, #114e22, rgb(80, 75, 69));
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

#btonner {
    background: linear-gradient(135deg, #1a8941, #1f7a2d);
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
 
  img {
    display: block; /* Necessário para que margin funcione */
    margin-left: auto;
    margin-right: auto;
    width: 300px; /* Definir a largura da imagem */
}
#logo {
    width: 72px; /* Diminui a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    float: left; /* Move a imagem para a esquerda */
    margin-left: 10px;
  }